# Python
venv/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data (RAG specific)
data/vector_store/
*.bin
*.sqlite3

# PDFs (optional but recommended)
data/text_files/pdf/

# OS
.DS_Store

# VS Code
.vscode/